<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>ip-range-calc - calculate a rangeblock right in your browser</title>
</head>

<body>
	<div class="main-wrapper">
		<nav class="navbar navbar-expand-md navbar-light bg-light">
			<div class="container">
				<!-- <a class="navbar-brand" href="#">ip-range-calc</a> -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="https://meta.wikimedia.org/wiki/User:Fastily">Author</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://github.com/fastily/ip-range-calc">Source</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://tools.wmflabs.org">Toolforge</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container" id="app">
			<div class="jumbotron">
				<h1 class="display-4">ip-range-calc</h1>
				<p class="lead">(The simple range block calculator)</p>
			</div>

			<form>
				<div class="form-group">
					<label for="mainTextInput">First, list the IP addresses (one per line):</label>
					<textarea class="form-control" rows="5" id="mainTextInput" v-model.trim="inputText"></textarea>
				</div>
				<div class="form-group">
					<label for="selectIpType">Next, what kind of IP addresses are these?</label>
					<select class="form-control" id="selectIpType" v-model="selectedIPType">
						<option v-for="ipType in ipTypes" :key="ipType" :value="ipType">IPv{{ipType}}</option>
					</select>
				</div>

				<button type="button" class="btn btn-primary" @click.prevent="calculate">Calculate!</button>

				<hr>
				<div class="card" v-if="showResult">
					<div class="card-header">
						Your Result:
					</div>
					<div class="card-body">
						{{resultText}}
					</div>
				</div>

			</form>

			<p class="alert alert-danger" role="alert" v-if="showBigRangeWarning">MediaWiki prohibits rangeblocks this large. Try experimenting with multiple, smaller ranges.</p>
		</div>

		<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
		<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/vue/2.6.8/vue.min.js"></script>
		<script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/ipaddr.js/1.9.0/ipaddr.min.js"></script>


		<script>
			new Vue({
				el: "#app",
				data: {
					ipTypes: ["4", "6"],
					inputText: "",
					selectedIPType: "",
					resultText: "",
					showBigRangeWarning: false,
					showResult: false
				},
				methods: {
					calculate() {
						this.showBigRangeWarning = false;

						if (!this.inputText || !this.selectedIPType)
							return;

						var protocol;
						var cnt;
						if (this.selectedIPType === "4") {
							protocol = ipaddr.IPv4;
							cnt = 32;
						}
						else {
							protocol = ipaddr.IPv6;
							cnt = 128;
						}

						var ipL = this.inputText.split("\n");

						// validate and parse IP addresses from user input
						var addrs = [];
						for (i = 0; i < ipL.length; i++) {
							if (!protocol.isValid(ipL[i]))
								return alert("Error: '" + ipL[i] + "' is not a valid IP address in this context.  Please fix before proceeding");

							addrs.push(ipaddr.parse(ipL[i]));
						}

						// count backwards until we get a CIDR match
						if (addrs.length > 1)
							for (i = 1; i < addrs.length; i++)
								while (!addrs[i].match(addrs[0], cnt) && cnt > 0)
									cnt--;

						// show warning for big ranges
						if (ipaddr.IPv4 === protocol && cnt < 16 || ipaddr.IPv6 === protocol && cnt < 19)
							this.showBigRangeWarning = true;

						this.showResult = true;
						this.resultText = addrs[0].toString() + "/" + cnt;
					}
				}
			});
		</script>
</body>

</html>